/* #timeline {
    display: flex;
    background-color: #031625 !important;
}
#timeline:hover .tl-item{
    width: 23.3333%;
}
  
  .tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 33.33%;
    height: 80vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
  } 
  .tl-item:before, .tl-item:after {
      transform: translate3d(0, 0, 0);
      content: '';
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;
    }
  
    .tl-item:after {
      background: transparentize(#031625, 0.15);
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  
    .tl-item:before {
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(137,67,86,1) 75%);
      z-index: 1;
      opacity: 0;
      transform: translate3d(0, 0, 0) translateY(50%);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  
    .tl-item:hover {
      width: 60% !important;
    }
      .tl-item:after {
        opacity: 0;
      }
  
      .tl-item:before {
        opacity: 1;
        transform: translate3d(0, 0, 0) translateY(0);
        transition: opacity 1s ease, transform 1s ease 0.25s;
      }
      
      .tl-content {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.75s ease 0.5s;
      }
  
      .tl-bg {
        filter: grayscale(0);
      }
  
  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
}   
    h1 {
      font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
      text-transform: uppercase;
      color: #1779cf;
      font-size: 1.44rem;
      font-weight: normal;
    }

  
  .tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    background-color: rgba(0,0,0,0) 0% !important;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}   

  .tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }
   */
   /* .horizontal-timeline .items {
     border-top: 2px dashed #8C0846; 
  } */
  .container-fluid {
    text-align: center !important;
  }
  .horizontal-timeline .items .items-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
  }
  
  .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 1px dashed #8C0846;
    top: 0;
  }
  
  .horizontal-timeline .items .items-list .event-date {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    width: 100px;
    margin: 0 auto;
    font-size: 1rem;
    padding-top: 15px;
  }

  .primary-btn {
    background-color: #8C0846;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
  }
  .primary-btn:hover {
    color: white;
  }
  
  @media (min-width: 1140px) {
    .horizontal-timeline .items .items-list {
      display: inline-block;
      width: 24%;
      padding-top: 45px;
    }
  
    .horizontal-timeline .items .items-list .event-date {
      top: -40px;
    }
  }
  @media (min-width: 1430px) {
    .horizontal-timeline .items .items-list {
        border-right: 0px dashed #8C0846;
    }
  }